.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #2c3e50, #2980b9);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 15px 30px;
    border-radius: 0 0 20px 20px;
}

.navbarList {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align items vertically */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure the navbar takes full width */
}

.navbarItem {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ecf0f1;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    padding: 8px 16px;
    border-radius: 30px;
    display: flex; /* Ensure content is displayed as a flex container */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.navbarItem:hover {
    color: #f39c12;
    transform: scale(1.1);
}

.navbarItem a {
    color: inherit;
    text-decoration: none;
}

/* Social media icons */
.navbarItem i {
    font-size: 1.5rem; /* Increase icon size */
    color: #ecf0f1;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbarItem i:hover {
    color: #f39c12; /* Change icon color on hover */
    transform: scale(1.2); /* Add hover effect */
}

@media (max-width: 768px) {
    .navbarList {
        flex-direction: column; /* Stack navbar items on smaller screens */
        align-items: center; /* Center items vertically */
    }

    .navbarItem i {
        font-size: 1.3rem; /* Slightly smaller icons on mobile */
    }
}
